@using DCC.UMB.WDF.Views
@model CDBModel.CountryViewModel

<div ng-controller="CountriesController">

    <form class="classCountry" novalidate name="frmCountry" >
        <label>&nbsp;</label>
        <div class="row-fluid span10 ">
            <fieldset class="fieldset">
                <legend class="panel">Country Details</legend>
                <div class="row-fluid span10">
                    @Html.WDFEditorFor(m => m.country_id, span: 4)
                    @Html.WDFEditorFor(m => m.country_nm, cssClassesForInputTag: "first-focus", span: 4, forceUpperCase: true)
                </div>
                <div class="row-fluid span10">
                    @Html.WDFEditorFor(m => m.country_cd, span: 4, forceUpperCase: true)
                    @Html.WDFEditorFor(m => m.isd_code, span: 4)
                </div>
                <div class="row-fluid span10">
                    @Html.WDFEditorFor(m => m.gmt_diff, span: 4)
                    @Html.WDFEditorFor(m => m.is_authentic, span: 4)
                </div>
                <div class="row-fluid span10">
                    @Html.WDFEditorFor(m => m.effective_from, span: 4)
                    @Html.WDFEditorFor(m => m.effective_till, span: 4)
                </div>


            </fieldset>
        </div>
        <div class="row-fluid span10 "></div>
        <div class="row-fluid span10 ">
            <fieldset class="fieldset">
                <legend class="panel">Naming Options</legend>
                <div class="row-fluid span10">
                    @Html.WDFEditorFor(m => m.level_1_address_component, span: 4, title: "Level 1 Naming Convention")
                </div>
                <div class="row-fluid span10">
                    @Html.WDFEditorFor(m => m.level_2_address_component, span: 4, title: "Level 2 Naming Convention")
                </div>
                <div class="row-fluid span10">
                    @Html.WDFEditorFor(m => m.level_3_address_component, span: 4, title: "Level 3 Naming Convention")
                </div>

            </fieldset>
        </div>

    </form>
</div>
